
      <nav id="mainNav" class="navbar navbar-default navbar-custom affix-top navbar-fixed-top">
          <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header page-scroll">

                 <a class="navbar-brand page-scroll">Extração e Analise de Dados do Twitter</a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
                 <ul class="nav navbar-nav navbar-right">
                      <li>
                          <a class="page-scroll" href="#relevants">Mais relevantes</a>
                      </li>
                      <li>
                          <a class="page-scroll" href="#mentions">Mais mencionados</a>
                      </li>
                 </ul>
              </div>
              <!-- /.navbar-collapse -->
          </div>
          <!-- /.container-fluid -->
      </nav>
    </ol>
    <!-- Navigation -->
